# Python
/__pycache__/
*.py[cod]
.venv/
.env
wild-server/storage/chroma/
wild-server/storage/scenes/
wild-server/storage/sessions/
wild-server/storage/geoip/*.mmdb

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
